<!doctype html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="css/htmlreview.css">
  <title>Books</title>

  <script src="https://unpkg.com/vue@next"></script>
</head>


<body>
  <header class="row">
    <div class="col-xs-5 col-sm-3 col-md-3 col-lg-2">
      <a target="_blank" href="img/iulogo.png">
        <img src="img/iulogo.png" width="180px">
      </a>
    </div>
    <div class="col-xs-7 col-sm-9 col-md-9 col-lg-6">
        <h1 class="heading text-danger">MSIS CORE</h1>
    </div>
</header>

    
    <nav>
          <a href="index.html">Home</a> | <a href="AboutUser.html">About User</a> | <a href="Books.html">Books Information</a>
    </nav>
  
  <div class = "centerContent">
  
  <div id = "bookApp">

  
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Authors</th>
          <th>Year_Published</th>
          <th>Publisher</th>
          <th>Page_count</th>
          <th>MSRP</th>
        </tr>
      </thead>
      <tbody>
          <tr v-for="book in books">
              <td>{{ book.Title}}</td>
              <td>{{ book.Authors }}</td>
              <td>{{ book.Year_Published }}</td>
              <td>{{ book.Publisher }}</td>
              <td>{{ book.Page_count }}</td>
              <td>{{ book.MSRP }}</td>
          </tr>
          
      </tbody>
      </table>

      <form v-on:submit.prevent="postNewBook">
        <div class="mb-3">
          <label for="bookTitle" class="form-label">Title</label>
          <input type="text" v-model="bookForm.Title"
           class="form-control" id="bookTitle">
        </div>
        <div class="mb-3">
          <label for="bookAuthors" class="form-label">Authors</label>
          <input type="text" v-model="bookForm.Authors" class="form-control" id="bookAuthors">
        </div>
        <div class="mb-3">
          <label for="bookYear_Published" class="form-label">Year_Published</label>
          <input type="number" v-model="bookForm.Year_Published" class="form-control" id="bookYear_Published">
        </div>
        <div class="mb-3">
          <label for="bookPublisher" class="form-label">Publisher</label>
          <input type="text" v-model="bookForm.Publisher" class="form-control" id="bookPublisher">
        </div>
        <div class="mb-3">
          <label for="bookPage_count" class="form-label">Page_count</label>
          <input type="number" v-model="bookForm.Page_count" class="form-control" id="bookPage_count">
        </div>
        <div class="mb-3">
          <label for="bookMSRP" class="form-label">MSRP</label>
          <input type="text" v-model="bookForm.MSRP" class="form-control" id="bookMSRP">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  
      <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  <script src="js/books.js"></script>
  




  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<!-- <!Tablesort plugin from https://github.com/tristen/tablesort> -->
<!-- <script src="js/tablesort.min.js"></script>
<script>
  new Tablesort(document.getElementById('taskTable'));
</script> -->


</body>
</html>